@charset "UTF-8";
/*
* @Author: 李杰
* @Date:   2018-03-27 11:02:33
* @Last Modified by:   张焱鑫
* @Last Modified time: 2018-08-27 13:48:03
*/
/* 单位 */
/* 设计稿 750 设为 32 */
/* 设计稿 1242 设为 53 */
/* 计算方法: (设计稿宽 * 16 / 375) */
/*
* @Author: 李杰
* @Date:   2018-03-27 11:02:33
* @Last Modified by:   张焱鑫
* @Last Modified time: 2018-08-27 13:48:03
*/
/* 单位 */
/* 设计稿 750 设为 32 */
/* 设计稿 1242 设为 53 */
/* 计算方法: (设计稿宽 * 16 / 375) */
.btn_main {
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  -webkit-border-radius: 1.25rem;
          border-radius: 1.25rem;
  text-align: center;
  background: #3aa5ff;
  color: #fff;
  font-size: 0.875rem; }
  .btn_main:active {
    background: #078eff; }

.btn_sub {
  display: block;
  height: 2.4375rem;
  line-height: 2.5rem;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 1.25rem;
          border-radius: 1.25rem;
  text-align: center;
  background: #fff;
  color: #808080;
  font-size: 0.875rem; }
  .btn_sub:active {
    background: #f6f6f6; }

/*
* @Author: 张焱鑫
* @Date:   2017-10-27 14:28:05
* @Last Modified by:   李杰
* @Last Modified time: 2018-04-25 16:22:47
*/
.radio_item, .radio_item2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 2.8125rem;
  overflow: hidden; }
  .radio_item .radio_item_text, .radio_item2 .radio_item_text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    font-size: 0.8125rem;
    color: #666;
    line-height: 1.0625rem; }
  .radio_item .radio_wraper, .radio_item2 .radio_wraper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 0;
    text-align: right;
    margin-left: 1.25rem; }
    .radio_item .radio_wraper .radio_item_box, .radio_item2 .radio_wraper .radio_item_box {
      display: inline-block;
      vertical-align: middle;
      position: relative; }
      .radio_item .radio_wraper .radio_item_box:before, .radio_item2 .radio_wraper .radio_item_box:before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px; }
      .radio_item .radio_wraper .radio_item_box .radio_item + .tip, .radio_item2 .radio_wraper .radio_item_box .radio_item + .tip, .radio_item .radio_wraper .radio_item_box .radio_item2 + .tip, .radio_item2 .radio_wraper .radio_item_box .radio_item2 + .tip {
        display: inline-block;
        vertical-align: middle;
        width: 0.8125rem;
        height: 0.8125rem;
        background: url("../images/radio_unchecked.png") left/100% 100% no-repeat; }
      .radio_item .radio_wraper .radio_item_box .radio_item:checked + .tip, .radio_item2 .radio_wraper .radio_item_box .radio_item:checked + .tip, .radio_item .radio_wraper .radio_item_box .radio_item2:checked + .tip, .radio_item2 .radio_wraper .radio_item_box .radio_item2:checked + .tip {
        background: #fff url("../images/radio_checked.png") left/100% 100% no-repeat; }
      .radio_item .radio_wraper .radio_item_box .text, .radio_item2 .radio_wraper .radio_item_box .text {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.875rem;
        color: #666;
        margin-left: 0.3125rem; }
      .radio_item .radio_wraper .radio_item_box + .radio_item_box, .radio_item2 .radio_wraper .radio_item_box + .radio_item_box {
        margin-left: 1.875rem; }

.radio_item2 .radio_wraper .radio_item_box .radio_item + .text, .radio_item2 .radio_wraper .radio_item_box .radio_item2 + .text {
  width: 1.5625rem;
  font-size: 0.78125rem;
  line-height: 1.5625rem;
  text-align: center;
  border: 0.0625rem solid #e5e5e5;
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
  background: #fff; }

.radio_item2 .radio_wraper .radio_item_box .radio_item:checked + .text, .radio_item2 .radio_wraper .radio_item_box .radio_item2:checked + .text {
  background: #3aa5ff;
  border: 0.0625rem solid transparent;
  color: #fff; }

.radio_item2 .radio_wraper .radio_item_box + .radio_item_box {
  margin-left: 0.5625rem; }

.input_item {
  min-height: 2.8125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative; }
  .input_item .input_item_text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    font-size: 0.8125rem;
    color: #666;
    line-height: 1.0625rem; }
  .input_item .input_wraper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 0.875rem;
    color: #666;
    line-height: 1.0625rem;
    text-align: right;
    padding-right: 3.375rem;
    margin-left: 1.25rem; }
    .input_item .input_wraper .input_wraper_item {
      font-size: 0.875rem;
      line-height: 1.0625rem;
      text-align: right;
      color: #666; }
  .input_item .selectInput {
    display: block;
    font-size: 0.875rem;
    line-height: 1.125rem;
    outline: none;
    margin-left: auto;
    text-align: left;
    position: relative; }
    .input_item .selectInput:before {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px; }
  .input_item .iconQuery {
    position: absolute;
    display: block;
    width: 1.0625rem;
    height: 1.0625rem;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/queryIcon.png") center/1.0625rem 1.0625rem no-repeat; }
    .input_item .iconQuery:before {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px; }

/*
* @Author: 李杰
* @Date:   2018-03-27 11:02:33
* @Last Modified by:   张焱鑫
* @Last Modified time: 2018-08-27 13:48:03
*/
/* 单位 */
/* 设计稿 750 设为 32 */
/* 设计稿 1242 设为 53 */
/* 计算方法: (设计稿宽 * 16 / 375) */
body, html {
  line-height: 1;
  font-family: 'Microsoft YaHei', 'SimSun', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  color: #000;
  min-height: 100%;
  overflow-x: hidden; }

html {
  position: relative; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #c1c0c0; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #c1c0c0; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #c1c0c0; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #c1c0c0; }

input[type="radio"], input[type="checkbox"] {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input {
  outline: none;
  background-color: transparent; }

.promise {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .promise .ifcheck {
    width: 0.71875rem;
    margin-right: 0.5625rem;
    padding-top: 0.125rem; }
    .promise .ifcheck .ischeck {
      display: block;
      width: 0.71875rem;
      height: 0.71875rem;
      background: url("../images/unchecked.png") no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    .promise .ifcheck input[type="checkbox"]:checked + .ischeck {
      display: block;
      width: 0.71875rem;
      height: 0.71875rem;
      background: url("../images/checked.png") no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
  .promise .pro_detail {
    font-size: 0.625rem;
    color: #666;
    line-height: 1.125rem;
    position: relative; }

/*
* @Author: 李杰
* @Date:   2018-03-27 11:02:33
* @Last Modified by:   张焱鑫
* @Last Modified time: 2018-08-27 13:48:03
*/
/* 单位 */
/* 设计稿 750 设为 32 */
/* 设计稿 1242 设为 53 */
/* 计算方法: (设计稿宽 * 16 / 375) */
/*
* @Author: 张焱鑫
* @Date:   2017-10-27 14:28:05
* @Last Modified by:   李杰
* @Last Modified time: 2018-04-25 16:22:47
*/
@-webkit-keyframes fadeInUp {
  100% {
    bottom: 0; } }
@keyframes fadeInUp {
  100% {
    bottom: 0; } }

.selectBox {
  width: 100%;
  min-height: 2.8125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .selectBox .leftText {
    width: 50%;
    line-height: 1.0625rem;
    font-size: 0.8125rem;
    color: #666; }
  .selectBox .rightBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: right;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%; }
  .selectBox .selectInput {
    display: block;
    font-size: 0.875rem;
    line-height: 1.125rem;
    outline: none;
    margin-left: auto;
    text-align: left;
    position: relative;
    color: #c1c0c0; }
    .selectBox .selectInput:before {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px; }
  .selectBox .selectInput.light {
    color: #666; }
  .selectBox .selectIcon {
    width: 0.5rem;
    height: 0.84375rem;
    background: url("../images/selectIcon.png") center/0.5rem 0.84375rem no-repeat;
    margin-left: 2.8125rem; }

.select_box {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.26);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  z-index: 2; }
  .select_box .select {
    height: 15.625rem;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: auto;
    text-align: center;
    padding: 2.8125rem 0.75rem 0.625rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    background-color: #fff; }
    .select_box .select .top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: absolute;
      height: 2.8125rem;
      top: 0;
      width: 90%;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .select_box .select .selectData {
      height: 12.1875rem; }
      .select_box .select .selectData .swiper-container {
        height: 12.1875rem; }
      .select_box .select .selectData .swiper-slide {
        font-size: 0.8125rem;
        line-height: 3.04688rem;
        color: #666; }
      .select_box .select .selectData .swiper-slide-prev,
      .select_box .select .selectData .swiper-slide-next {
        color: #666; }
      .select_box .select .selectData .swiper-slide-active {
        color: #3aa5ff; }

.select_box .select {
  -webkit-animation: fadeInUp .3s ease-out;
          animation: fadeInUp .3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .select_box .select .close {
    color: #808080;
    font-size: 0.875rem; }
  .select_box .select .ok {
    color: #3aa5ff;
    font-size: 0.875rem; }
  .select_box .select .title {
    font-size: 1.125rem;
    color: #666; }
  .select_box .select .close,
  .select_box .select .ok {
    position: relative; }
    .select_box .select .close:before,
    .select_box .select .ok:before {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px; }

.addSelect_box {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.26);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  z-index: 2; }

.addSelect_box .select {
  height: 12.5rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  -webkit-animation: fadeInUp .3s ease-out;
          animation: fadeInUp .3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .addSelect_box .select .top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 2.8125rem;
    width: 100%;
    background-color: #fff;
    padding: 0 5%;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .addSelect_box .select .selectData {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    position: relative; }
    .addSelect_box .select .selectData:before, .addSelect_box .select .selectData:after {
      content: '';
      display: block;
      position: absolute;
      width: 92%;
      height: 1px;
      border-top: 1px dashed #c4c4c4;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      top: 3.3125rem; }
    .addSelect_box .select .selectData:after {
      top: 5.8125rem; }
    .addSelect_box .select .selectData .swiper-container {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
         -moz-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      height: 9.375rem; }
      .addSelect_box .select .selectData .swiper-container .swiper-slide {
        line-height: 2.0625rem;
        font-size: 0.8125rem;
        color: #999;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 0 0.6875rem; }
      .addSelect_box .select .selectData .swiper-container .swiper-slide-active {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
        color: #333; }
  .addSelect_box .select .close {
    color: #808080;
    font-size: 0.875rem; }
  .addSelect_box .select .ok {
    color: #3aa5ff;
    font-size: 0.875rem; }
  .addSelect_box .select .title {
    font-size: 1.125rem;
    color: #666; }
  .addSelect_box .select .close,
  .addSelect_box .select .ok {
    position: relative; }
    .addSelect_box .select .close:before,
    .addSelect_box .select .ok:before {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px; }

.borderBg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2; }

.borderBg li {
  height: 3.04688rem;
  border-top: 1px dashed #ccc;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%); }

.borderBg li.first-none,
.borderBg li.last-none {
  border: 0; }

.iconQuery {
  position: absolute;
  display: block;
  width: 1.0625rem;
  height: 1.0625rem;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../images/queryIcon.png") center/1.0625rem 1.0625rem no-repeat; }
  .iconQuery:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px; }

.main {
  background: #f6f6f6; }
  .main .degree_education_title {
    font-size: 1rem;
    line-height: 1.125rem;
    color: #333;
    padding: 0.875rem 1.125rem; }
  .main .degree_education_radio {
    background: #fff;
    border-top: 1px solid #e6e6e6;
    padding: 0 1.125rem; }
  .main .promise {
    padding: 0.5625rem 1.125rem; }
    .main .promise .pro_detail {
      font-size: 0.75rem; }
  .main .degree_education_form {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin: 0 0.625rem;
    padding-bottom: 1.25rem; }
    .main .degree_education_form .form_item {
      border-bottom: 1px solid #f2f2f2;
      margin: 0 0.1875rem;
      padding: 0 0.4375rem; }
      .main .degree_education_form .form_item .input_item .input_wraper {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
           -moz-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        font-size: 0.875rem; }
        .main .degree_education_form .form_item .input_item .input_wraper .input_wraper_item {
          font-size: 0.875rem; }
  .main .btn_wraper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3.59375rem 0.625rem 1.9375rem;
    background: #fff;
    margin-top: 1.1875rem;
    border-top: 1px solid #e6e6e6; }
    .main .btn_wraper .btn {
      width: 10.78125rem; }
      .main .btn_wraper .btn + .btn {
        margin-left: 0.5625rem; }

/*# sourceMappingURL=maps/degree_education.css.map */
